<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        <title>ULAB | Undergraduate Lab @ Berkeley</title>
        {% endblock %}
        <meta name="description" content="Undergraduate Lab @ Berkeley, ULAB"/>
        <meta author="Gan Tu (Michael)">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="static/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>
    <body class="scroll-assist">
                
        {% block navbar %}
        {% include "nav.html" %}
        {% endblock %}
        
        <div class="main-container">
            
            {% block body %}
            {% endblock %}

            <!-- Return to Top -->
            <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
            
            {% block footer %}
            <footer class="footer-2 bg-dark text-center-xs">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-4">
                            <a href="#"><img class="image-xxs fade-half" alt="Logo" src="static/img/logo-light.png"></a>
                            <br>
                            <span class="fade-half">
                                © Copyright 2017 ULAB - All Rights Reserved
                            </span>
                        </div>

                        <div class="col-sm-4"></div>

                        <div class="col-sm-4 text-right">
                            <a href="https://www.ocf.berkeley.edu" target="_blank"><img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg" alt="Hosted by the OCF" class="image-xxs fade-half" style="border: 0;" /></a> <a href="https://www.facebook.com/uLab.Berkeley/" target="_blank"><i class="ti-facebook"></i></a>
                            <span class="fade-half"><br><small>We are a student group acting independently of the university of california. We take full responsibility for our organization and this web site.</small></span>
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock %}

        </div>
                
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/flexslider.min.js"></script>
        <script src="static/js/smooth-scroll.min.js"></script>
        <script src="static/js/parallax.js"></script>
        <script src="static/js/scripts.js"></script>
    </body>
</html>
                